:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --button-text-color: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --section-bg-dark: #2f303a;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --footer-address-color: #ffffff;
  --top-logo-color: #000000;
  --social-list-icon-color: #afb1b8;
  --footer-logo-color: #ffffff;
  --button-hover-color: #188ce8;
  --portfolio-button-bg-color: #f5f4fa;
  --portfolio-project-border-color: #eeeeee;
  --portfolio-topline-border-color: #ececec;
  --footer-icon-bg: #ffffff10;
  --shadow-team: #00000025;
  --card-team-bg: #ffffff;
  --customers-color-icon: #afb1b8;
  --text-under-job-item: #ffffff;
  --under-job-item-bg: #2f303a80;
  --portfolio-text-description: #ffffff;
  --modal-background-color: #ffffff;
  --footer-social-title-color: #ffffff;
  --footer-social-list-icon-color: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  background-color: var(#ffffff);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  display: block;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*=======TOP LINE START=======*/

.top-line-container {
  display: flex;
  align-items: center;
}

.logo-top {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 90px;

  font-family: Raleway, serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;

  color: var(--top-logo-color);
}

.accent {
  color: var(--accent-color);
}
.nav-menu {
  display: flex;
  align-items: center;
  width: 294px;
  height: 48px;
}
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--title-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:active {
  color: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}
.current::after {
  content: "";

  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-top-line {
  display: flex;
  margin-left: auto;
  align-items: center;
  cursor: pointer;
}
.mail-top {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-icon {
  display: flex;
  margin-right: 10px;
  fill: currentColor;
}
.mail-top:hover,
.mail-top:focus {
  color: var(--accent-color);
}
.tel-top {
  display: flex;
  align-items: center;
  margin-left: 30px;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel-top:hover,
.tel-top:focus {
  color: var(--accent-color);
}

/*======= TOP LINE END =======*/

/*======= HERO START =======*/
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/image-hero/Hero-bg-Img.jpg);
  background-size: cover;

  background-color: var(--section-bg-dark);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  text-align: center;
  color: var(--button-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.button-hero {
  min-width: 200px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;

  border-radius: 4px;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--button-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--button-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.125);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
/*======= МОДАЛЬНЕ ВІКНО =======*/

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  width: 528px;
  height: 581px;

  background-color: var(--modal-background-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}
.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: var(--accent-color);
}

.modal-title {
  display: block;
  font-family: Roboto;
  font-style: Bold;
  font-size: 20px;
  line-height: 1, 15;
  line-height: 100%;
  letter-spacing: 3%;

  color: #212121;
  margin-bottom: 12px;
}
.contact-form-field {
  display: block;
  text-align: left;
}
.modal-text {
  font-family: Roboto;
  font-style: Regular;
  font-size: 12px;
  line-height: 1, 16;
  line-height: 100%;
  letter-spacing: 1%;

  color: var(--primary-text-color);
}
.contact-form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}
.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px Solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:hover,
.contact-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.contact-form-input:hover + .contact-modal-icon,
.contact-form-input:focus + .contact-modal-icon {
  fill: var(--accent-color);
}

.contact-modal-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px Solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
  resize: none;

  font-family: Roboto;
  font-style: Regular;
  font-size: 12px;
  line-height: 1,16;
  line-height: 100%;
  letter-spacing: 1%;
  
  color: var(--primary-text-color);

}
.contact-form-message:hover,
.contact-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-checkbox-lable {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: Regular;
  font-size: 14px;
  line-height: 1, 71;
  line-height: 146%;
  letter-spacing: 3%;

  color: var(--primary-text-color);
  cursor: pointer;
}

.contact-form-checkbox-lable::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid var(--title-text-color);
  cursor: pointer;
  content: "";
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-checkbox:hover + .contact-form-checkbox-lable::before {
  border-color: var(--accent-color);
}
.contact-form-checkbox:focus + .contact-form-checkbox-lable::before {
  outline: 2px solid var(--accent-color);
}
.contact-form-checkbox:checked + .contact-form-checkbox-lable::before {
  background-image: url("../images/modal-check.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: var(--accent-color);
  border: 0, 2px solid var(--modal-background-color);
}
.check-conditions {
  color: var(--accent-color);
}
.contact-form-submit-btn {
  min-width: 200px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding: 10px 32px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  border-radius: 4px;
  border: none;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--button-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-submit-btn:hover,
.contact-form-submit-btn:focus {
  background-color: var(--button-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*======= HERO END=======*/

/*======= OUR FEATURE =======*/
.section {
  padding-top: 94px;
}
.feature-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.feature-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-top: 30px;
  margin-left: 30px;
}
.feature-title {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 270px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}
.description {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
}
.description:not(:last-child) {
  margin-right: 30px;
}
.above-feature-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

/*======= OUR FEATURE END=======*/

/*======= OUR JOB START =======*/
.job {
  padding-bottom: 94px;
}
.job-img {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.job-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.job-title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
}
.img-job-item {
  position: relative;
  z-index: -1;
}
.under-job-item {
  position: absolute;
  bottom: 0;

  display: flex;

  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: var(--under-job-item-bg);
}
.text-under-job-item {
  font-family: Roboto;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 11.17;
  text-align: center;
  color: var(--text-under-job-item);
}

/*======= OUR JOB END =======*/
/*======= OUR TEAM START======= */
.team-list {
  background-color: var(--secondary-bg-color);
  padding-bottom: 94px;
}

.team-title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  text-shadow: 0px 4px 4px var(--shadow-team);
}
.team {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}
.team-img {
  flex-basis: calc((100% - 120px) / 4);
  margin-top: 30px;
  margin-left: 30px;
}
.card-team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--title-text-color);
}

.under-card-team-title {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--primary-text-color);
}
.card-team {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--card-team-bg);
  box-shadow: 0px 4px 4px var(--shadow-team);
}
.social-list-icon {
  fill: var(--social-list-icon-color);
}
.social-list {
  display: flex;
}
.social-list-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-item:not(:last-child) {
  margin-right: 10px;
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--button-text-color);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*======= OUR TEAM END  ======= */
/*======= OUR CUSTOMERS START =======*/

.customers {
  padding-bottom: 94px;
}
.customers-title {
  padding-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
}
.customers-img {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.customers-item {
  display: flex;
  width: 170px;
  height: 92px;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 180px) / 6);
}
.customers-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: var(--customers-color-icon);
  border: 1px solid var(--customers-color-icon);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  align-items: center;
  justify-items: center;
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  color: var(--accent-color);
}

/*======= OUR CUSTOMERS END =======*/

/*======= FOOTER START ======= */
.basement {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-bg-dark);
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.basement-logo {
  width: 145px;
  height: 31px;

  font-family: Raleway;
  font-weight: b700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: var(--footer-logo-color);
}
.basement-address {
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: var(--footer-address-color);
}
.mail-basement {
  display: block;
  margin-top: 9px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-basement:hover,
.mail-basement:focus {
  color: var(--accent-color);
}
.tel-basement {
  display: block;
  margin-top: 9px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  letter-spacing: 0.03em;

  color: var(--footer-contact-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel-basement:hover,
.tel-basement:focus {
  color: var(--accent-color);
}
.footer-social-title {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--footer-social-title-color);
}

.footer-social-list {
  margin-left: 70px;
}
.footer-social-list-icon {
  fill: var(--footer-social-list-icon-color);
}
.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--button-text-color);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}
.footer-email {
  display: flex;
  align-items: baseline;
}
.footer-email-input {
  margin-left: 93px;
}

.footer-email-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--footer-social-title-color);
}
.footer-email-form-input {
  display: block;
  align-items: center;
  padding-left: 16px;
  margin-top: 20px;
  min-width: 358px;
  height: 50px;
  background-color: var(--section-bg-dark);
  font-family: Roboto;
  font-style: Regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 3%;
  color: var(--footer-contact-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-email-form-input:hover,
.footer-email-form-input:focus {
  border: 1px solid var(--accent-color);
}
.footer-submit-btn {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 10px 28px 10px 29px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;

  border: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--button-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn-icon {
  margin-left: 10px;
}

/*======= FOOTER END ======= */
/*======= PORTFOLIO =======  */
.top-line {
  border-bottom: 1px solid var(--portfolio-topline-border-color);
}
/*======= FILTERS ======= */
.filters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-all:active {
  background-color: var(--accent-color);
  color: var(--button-text-color);
}
.button-all:hover,
.button-all:focus {
  color: var(--button-text-color);
  background: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-list {
  margin-right: 8px;
  margin-bottom: 50px;
}

button {
  padding: 6px 22px;
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  background-color: var(--portfolio-button-bg-color);
  color: var(--title-text-color);
  border-radius: 4px;
}
.btn-list:hover,
.btn-list:focus {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px var(--shadow-team);
}

/*======= FILTERS END ======= */
/*======= PROJECT ======= */
.portfolio {
  padding-bottom: 94px;
}
.project {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.card-img-project {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
  border-bottom: 1px solid var(--portfolio-project-border-color);
  border-left: 1px solid var(--portfolio-project-border-color);
  border-right: 1px solid var(--portfolio-project-border-color);
  cursor: pointer;
}
.card-img-project:hover,
.card-img-project:focus {
  box-shadow: 0px 4px 4px 0 var(--shadow-team);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-project-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.card-body {
  padding: 20px 24px;
}
.under-card-project-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  color: var(--primary-text-color);
}
.project-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-description {
  display: flex;
}
.project-description {
  display: flex;
  width: 322px;
  height: 168px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--portfolio-text-description);
}
.project-thumb:hover .project-description {
  opacity: 1;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  opacity: 0;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-img-project:hover .project-overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-overlay:hover {
  opacity: 1;
}
.card-body .project-description {
  opacity: 1;
}

/*======= PROJECT END ======= */
