.team-list {
  background-color: var(--secondary-bg-color);
  padding-bottom: 94px;
}

.team-title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  text-shadow: 0px 4px 4px var(--shadow-team);
}

.team {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.team-img {
  flex-basis: calc((100% - 120px) / 4);
  margin-top: 30px;
  margin-left: 30px;
}

.card-team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--title-text-color);
}

.under-card-team-title {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--primary-text-color);
}

.card-team {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--card-team-bg);
  box-shadow: 0px 4px 4px var(--shadow-team);
}

.social-list-icon {
  fill: var(--social-list-icon-color);
}

.social-list {
  display: flex;

}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--button-text-color);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}